*{
    margin:0; /* px */
    padding:0; /* Contenido va a estar en toda la página */
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    color: var(--color-text);
    background-color: var(--color-background);
}